Package: com.passingintime.dpool
Name: Deadpool LockGlyph Theme
Version: 2.0
Architecture: iphoneos-arm 
Description: Deadpool LockGlyph.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
