Package: com.passingintime.element
Name: Element LockGlyph Theme
Version: 1.2
Architecture: iphoneos-arm 
Description: Replaces default LockGlyph theme with a Element logo.
Homepage: passingintime.github.io
Maintainer: PassingInTime <you@example.com> 
Author: Ryan B 
Sponsor: GitHub <www.github.com> 
Section: Themes
