Package: com.passingintime.spshearth
Name: Spaceship Earth LockGlyph Theme
Version: 2.0
Architecture: iphoneos-arm 
Description: Spaceship Earth LockGlyph.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
