Package: com.passingintime.guppysketch
Name: Guppy's Head Sketch LockGlyph Theme
Version: 1.0
Architecture: iphoneos-arm 
Description: Guppy's Head Sketch LockGlyph.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
