Package: com.passingintime.hollowsquadbw
Name: Hollow Squad Black And White LockGlyph Theme
Version: 2.0
Architecture: iphoneos-arm 
Description: Hollow Squad Black And White LockGlyph.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
