Package: com.passingintime.jp
Name: Jurassic Park LockGlyph Theme
Version: 2.0
Architecture: iphoneos-arm 
Description: Replaces default LockGlyph theme with the Jurassic Park logo.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>
