Package: com.passingintime.popeyes
Name: Popeyes LockGlyph Theme
Version: 1.0
Architecture: iphoneos-arm 
Description: Popeyes LockGlyph Replacement.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
