Package: com.passingintime.yinyang
Name: Yin Yang LockGlyph Theme
Version: 1.5
Architecture: iphoneos-arm 
Description: Replaces default LockGlyph theme with a Yin Yang logo.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
