Package: com.passingintime.dstar
Name: Death Star LockGlyph Theme
Version: 1.0
Architecture: iphoneos-arm 
Description: That's No Moon!!
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
