Package: com.passingintime.yamaha
Name: Yamaha LockGlyph Theme
Version: 1.0
Architecture: iphoneos-arm 
Description: Yamaha LockGlyph Replacement.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
