Package: com.passingintime.gsnewzep
Name: Geek Squad (New Logo) Zeppelin Theme
Version: 1.0
Architecture: iphoneos-arm 
Description: Geek Squad (New Logo)
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes (Zeppelin)
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
