Package: com.passingintime.sobshield
Name: Gray/Silver SHIELD Logo LockGlyph Theme
Version: 3.0
Architecture: iphoneos-arm 
Description: Replaces default LockGlyph theme with a gray/silver SHIELD logo.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
