Package: com.passingintime.geeksquad 
Name: Geek Squad LockGlyph Theme
Version: 1.2
Architecture: iphoneos-arm 
Description: Replaces default LockGlyph theme with the Geek Squad logo. Set Scanning Colour to HEX: #E37222
Homepage: passingintime.github.io
Maintainer: PassingInTime <you@example.com> 
Author: Ryan B 
Sponsor: GitHub <www.github.com> 
Section: Themes
