Package: com.passingintime.cocacola
Name: CocaCola LockGlyph Theme
Version: 2.1
Architecture: iphoneos-arm 
Description: Replaces default LockGlyph theme with the CocaCola logo.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
