Package: com.passingintime.captambw
Name: Captain America Black And White LockGlyph Theme
Version: 1.0
Architecture: iphoneos-arm 
Description: Captain America in black and white LockGlyph.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
