Package: com.passingintime.jw
Name: Jurassic World LockGlyph Theme
Version: 1.0
Architecture: iphoneos-arm 
Description: Replaces default LockGlyph theme with the Jurassic World logo.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>
