Package: com.passingintime.pepsiflat
Name: Flat Pepsi LockGlyph Theme
Version: 2.1
Architecture: iphoneos-arm 
Description: Replaces default LockGlyph theme with the Pepsi logo with flat colors.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
