Package: com.passingintime.dbzpack
Name: DBZ Pack LockGlyph Theme
Version: 1.0
Architecture: iphoneos-arm 
Description: DBZ Pack LockGlyph.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
