Package: com.passingintime.cpalace
Name: Crystal Palace F.C. LockGlyph Theme
Version: 2.5
Architecture: iphoneos-arm 
Description: Crystal Palace F.C. LockGlyph.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
