Package: com.passingintime.goldshield
Name: Gold SHIELD Logo LockGlyph Theme
Version: 3.0
Architecture: iphoneos-arm 
Description: Replaces default LockGlyph theme with a gold SHIELD logo. Set Scanning Colour to HEX: #E37222
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
