Package: com.passingintime.shieldgold
Name: Gold SHIELD Logo LockGlyph Theme
Version: 1.0
Architecture: iphoneos-arm 
Description: Replaces default LockGlyph theme with a gold SHIELD logo. Set Scanning Colour to HEX: #E37222
Homepage: passingintime.github.io
Maintainer: PassingInTime <you@example.com> 
Author: Ryan B 
Sponsor: MyRepoSpace <www.myrepospace.com> 
Section: Themes
