Package: com.passingintime.goldshield
Name: Gold SHIELD Logo LockGlyph Theme
Version: 1.2
Architecture: iphoneos-arm 
Description: Replaces default LockGlyph theme with a gold SHIELD logo. Set Scanning Colour to HEX: #E37222
Homepage: passingintime.github.io
Maintainer: PassingInTime <you@example.com> 
Author: Ryan B 
Sponsor: GitHub <www.github.com> 
Section: Themes
