Package: com.passingintime.eoh
Name: Eye of Horus LockGlyph Theme
Version: 1.0
Architecture: iphoneos-arm 
Description: Eye f Horus LockGlyph.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
