Package: com.passingintime.cocacolaflat
Name: Flat CocaCola LockGlyph Theme
Version: 3.0
Architecture: iphoneos-arm 
Description: Replaces default LockGlyph theme with the CocaCola logo with flat colors.
Homepage: passingintime.github.io
Depends: com.evilgoldfish.lockglyph
Section: Themes
Author: Ryan B 
Maintainer: PassingInTime <you@example.com>  
